In [67]:
import pandas as pd
import matplotlib.pyplot as mpl
%matplotlib inline
import numpy as np
import seaborn as sns

In [26]:
dataset=pd.read_csv('website_data_20190225.csv')

In [12]:
dataset.head(15)

,STATE,DISTRICT,TEH_NAME,BLOCK_NAME,LAT,LON,SITE_NAME,SITE_TYPE,WLCODE,YEAR_OBS,MONSOON,POMRB,POMKH,PREMON
0,RJ,Ajmer,Beawar,Masuda,26.100000,74.416667,Pakhriawas,Dug Well,W13583,2018,'0,7.23,'0,'0
1,RJ,Ajmer,Masuda,Masuda,25.966667,74.433333,Ramgarh2,Bore Well,W20477,2018,'0,'0,'0,27.18
2,RJ,Ajmer,Sarwar,Arain,26.033333,75.100000,Ajagara,Dug Well,W13591,2018,'0,'0,'0,4.97
3,RJ,Ajmer,Sarwar,Arain,25.911111,75.041667,Sanpla,Dug Well,W13594,2018,'0,'0,'0,6.65
4,RJ,Ajmer,Beawar,Jawaja,26.050000,74.283333,Narbadkhera,Dug Well,W13582,2018,'0,'0,'0,14.6
5,RJ,Ajmer,Beawar,Jawaja,25.908333,74.200000,Baglias,Dug Well,W13577,2018,'0,3.62,'0,'0
6,RJ,Ajmer,Sarwar,Arain,26.033333,75.100000,Ajagara,Dug Well,W13591,2018,'0,4.17,'0,'0
7,RJ,Ajmer,Sarwar,Arain,25.911111,75.041667,Sanpla,Dug Well,W13594,2018,'0,4.73,'0,'0
8,RJ,Ajmer,Beawar,Jawaja,25.883333,74.150000,Taragarh,Dug Well,W13584,2018,'0,0.72,'0,'0
9,RJ,Ajmer,Beawar,Jawaja,26.050000,74.283333,Narbadkhera,Dug Well,W13582,2018,'0,11.35,'0,'0
10,RJ,Ajmer,Nasirabad,Srinagar,26.266667,74.833333,Ramsar,Dug Well,W13589,2018,'0,3.63,'0,'0
11,RJ,Ajmer,Nasirabad,Srinagar,26.266667,74.833333,Ramsar,Dug Well,W13589,2018,'0,'0,'0,7.9
12,RJ,Ajmer,Beawar,Jawaja,25.883333,74.150000,Taragarh,Dug Well,W13584,2018,'0,'0,'0,4.6
13,RJ,Ajmer,Beawar,Jawaja,25.908333,74.200000,Baglias,Dug Well,W13577,2018,'0,'0,'0,7.8
14,RJ,Ajmer,Bhinai,Arain,26.212500,75.036111,Barora,Dug Well,W18021,2018,'0,11.5,'0,'0

In [27]:
dataset.drop(['STATE','DISTRICT','TEH_NAME','LAT','LON','BLOCK_NAME','WLCODE'],axis=1,inplace=True)

In [28]:
dataset.head()

     SITE_NAME  SITE_TYPE  YEAR_OBS MONSOON POMRB POMKH PREMON
0   Pakhriawas   Dug Well      2018      '0  7.23    '0     '0
1     Ramgarh2  Bore Well      2018      '0    '0    '0  27.18
2      Ajagara   Dug Well      2018      '0    '0    '0   4.97
3       Sanpla   Dug Well      2018      '0    '0    '0   6.65
4  Narbadkhera   Dug Well      2018      '0    '0    '0   14.6

In [24]:
dataset.shape

(738, 7)

In [30]:
st=pd.get_dummies(dataset['SITE_TYPE'],drop_first=True)
st.head()

   Dug Well
0         1
1         0
2         1
3         1
4         1

In [31]:
sn=pd.get_dummies(dataset['SITE_NAME'],drop_first=True)
sn.head()

,Andheri Devi,Arian,Arjunpura,Baglias,Bandanwara,Barora,Beawar1,Bogla,Dasuk,Daultpura,...,Ramsar,Sanpla,Saradhana,Sarvena,Sarwad,Srinagar,Tabiji,Taragarh,Tiloniya,Tilora
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
yr=pd.get_dummies(dataset['YEAR_OBS'],drop_first=True)
yr.head()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
test=dataset

In [34]:
test.drop(['YEAR_OBS','SITE_NAME','SITE_TYPE'],axis=1,inplace=True)

In [35]:
test.head()

  MONSOON POMRB POMKH PREMON
0      '0  7.23    '0     '0
1      '0    '0    '0  27.18
2      '0    '0    '0   4.97
3      '0    '0    '0   6.65
4      '0    '0    '0   14.6

In [36]:
test=pd.concat([sn,st,yr,test],axis=1)

In [37]:
test.head()

,Andheri Devi,Arian,Arjunpura,Baglias,Bandanwara,Barora,Beawar1,Bogla,Dasuk,Daultpura,...,2013,2014,2015,2016,2017,2018,MONSOON,POMRB,POMKH,PREMON
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,'0,7.23,'0,'0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,'0,'0,'0,27.18
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,'0,'0,'0,4.97
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,'0,'0,'0,6.65
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,'0,'0,'0,14.6

In [38]:
x=test.iloc[:,:-4]
y=test.iloc[:,-4:]

In [47]:
y.replace(to_replace="'0",value=0,inplace=True)
y

    MONSOON  POMRB  POMKH PREMON
0         0   7.23      0      0
1         0      0      0  27.18
2         0      0      0   4.97
3         0      0      0   6.65
4         0      0      0   14.6
5         0   3.62      0      0
6         0   4.17      0      0
7         0   4.73      0      0
8         0   0.72      0      0
9         0  11.35      0      0
10        0   3.63      0      0
11        0      0      0    7.9
12        0      0      0    4.6
13        0      0      0    7.8
14        0   11.5      0      0
15        0      0      0  12.94
16        0   3.75      0      0
17        0      0      0   3.64
18        0   1.68      0      0
19        0      0      0   5.15
20        0   1.21      0      0
21        0      0      0   4.92
22        0  17.97      0      0
23        0      0      0  18.05
24        0   6.45      0      0
25        0      0      0  12.77
26        0   4.14      0      0
27        0      0      0   8.87
28        0   4.72      0      0
29        0      0      0    2.3
..      ...    ...    ...    ...
708    2.18    2.2    3.2    5.8
709    2.38      7   4.47   14.1
710    4.89    4.8   5.05    5.7
711    8.63   14.4  12.35   19.3
712       0  22.04  16.04      0
713    5.34   4.66   4.47    9.5
714       0    4.1   3.55    6.8
715    8.14   7.71   8.06  13.04
716    8.48      0   9.95   15.1
717    4.89   16.7   7.46  17.72
718       0    3.4   2.54   4.96
719    6.24   8.08   6.46   9.53
720   10.24      0      0  12.67
721    4.34  11.29   2.73   13.2
722    5.18   12.7   5.35  13.59
723    1.56   3.66   1.84   4.54
724    2.38      0    2.7   6.56
725     1.5   7.06   1.87    9.8
726    11.1   28.1   13.9  28.98
727    6.24   6.16    5.5      0
728     1.5   1.36   1.86   5.06
729    3.65   9.34   4.95      0
730    4.87    8.4   5.28  12.18
731     7.8      0   13.8  17.88
732    4.35    5.3   3.18   6.43
733    5.36   6.36   2.06    7.7
734    8.46  15.34  12.84  19.71
735    9.71  11.64      0   19.8
736    7.26  15.16   8.83  16.87
737    5.28      0   6.84   13.3

[738 rows x 4 columns]

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [42]:
from sklearn.linear_model import LinearRegression
ob=LinearRegression()

In [50]:
ob.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [51]:
pred=ob.predict(x_test)

In [53]:
pred

array([[ 7.01171875, 10.765625  ,  6.15625   ,  8.88867188],
       [-2.4765625 ,  4.125     ,  0.90625   ,  6.30908203],
       [20.26953125, 23.796875  , 20.53125   , 23.67236328],
       [ 1.2109375 , 15.078125  ,  2.9375    , 18.15332031],
       [ 6.16015625,  8.90625   ,  7.96875   , 10.52246094],
       [ 9.4453125 ,  9.03125   , 11.09375   ,  8.89990234],
       [ 8.9765625 , 11.578125  , 10.1875    , 12.51269531],
       [ 3.16015625,  2.6875    ,  1.15625   ,  5.65478516],
       [19.25      , 20.921875  , 14.71875   , 17.8984375 ],
       [12.1953125 , 10.75      , 11.71875   , 10.16064453],
       [ 6.70703125,  5.328125  ,  5.125     ,  8.32714844],
       [ 7.05859375,  9.609375  ,  4.71875   ,  8.19335938],
       [18.515625  , 20.859375  , 12.65625   , 19.59765625],
       [ 2.33203125, 15.484375  ,  1.375     , 14.20605469],
       [10.484375  , 13.328125  ,  7.71875   , 14.05908203],
       [-3.5546875 , -0.109375  , -3.875     ,  2.34863281],
       [ 8.50390625, 11.859375  ,  6.21875   ,  8.50634766],
       [10.6796875 , 10.21875   , 10.59375   ,  9.68847656],
       [18.23828125, 20.390625  , 16.90625   , 23.19921875],
       [ 8.94921875, 10.375     , 11.6875    , 15.54101562],
       [ 6.8671875 ,  8.0625    ,  6.375     ,  6.41308594],
       [ 8.25390625, 15.421875  ,  3.65625   , 13.61914062],
       [ 7.92578125, 12.8125    , 10.40625   , 12.86523438],
       [-1.39453125,  2.        , -0.6875    ,  1.50537109],
       [11.14453125, 15.671875  , 16.65625   ,  7.61767578],
       [ 9.125     ,  3.359375  , 10.21875   ,  6.75195312],
       [-0.08203125, 13.59375   , -0.3125    , 12.09423828],
       [ 3.8515625 ,  3.84375   ,  2.78125   ,  5.12255859],
       [11.15234375, 10.9375    , 10.90625   , 10.31103516],
       [ 7.33203125, 11.984375  ,  9.65625   ,  7.16210938],
       [10.3984375 ,  8.21875   ,  8.78125   ,  9.15380859],
       [10.6171875 ,  9.921875  ,  7.59375   , 10.17871094],
       [ 9.65625   ,  8.9375    ,  7.8125    ,  6.01611328],
       [ 2.31640625,  1.109375  ,  1.46875   ,  2.79150391],
       [-0.56640625, -0.265625  , -0.75      ,  1.97753906],
       [20.6953125 , 23.890625  , 20.        , 25.18212891],
       [ 8.7109375 ,  8.96875   ,  9.03125   , 10.59912109],
       [ 1.48828125,  2.34375   ,  1.96875   ,  1.99169922],
       [-1.82421875,  4.390625  ,  1.59375   ,  5.65917969],
       [-0.671875  , -0.359375  ,  0.25      , -0.21240234],
       [ 8.1875    , 10.1875    , 10.34375   , 11.52148438],
       [ 4.8125    ,  6.234375  ,  5.875     , 14.34423828],
       [11.515625  ,  8.8125    , 10.4375    , 10.96289062],
       [ 6.78125   ,  8.453125  ,  7.5625    ,  5.39697266],
       [10.328125  ,  9.59375   , 10.53125   , 12.47509766],
       [ 3.84765625,  7.484375  ,  3.0625    ,  9.53759766],
       [-3.58203125,  9.96875   , -4.6875    , 10.86279297],
       [17.9921875 , 13.375     , 12.96875   , 18.43505859],
       [ 1.87890625,  6.078125  ,  4.03125   ,  3.62158203],
       [ 2.94921875,  4.15625   ,  1.59375   ,  5.65136719],
       [ 1.87890625,  6.078125  ,  4.03125   ,  3.62158203],
       [ 7.18359375,  8.171875  ,  8.125     ,  8.859375  ],
       [ 2.11328125,  3.8125    ,  3.15625   ,  4.74902344],
       [19.7734375 , -4.234375  , 19.1875    ,  0.91015625],
       [14.90625   , 22.328125  , 14.96875   , 24.30957031],
       [-3.6875    ,  9.875     , -3.6875    ,  8.67285156],
       [10.9765625 , 11.65625   , 14.0625    , 16.54003906],
       [ 6.4375    ,  5.015625  ,  7.09375   ,  6.85888672],
       [ 6.515625  ,  9.8125    ,  7.5       ,  7.32080078],
       [ 9.06640625, -0.78125   ,  7.65625   ,  7.97851562],
       [ 7.23828125, 10.109375  ,  8.46875   , 10.08740234],
       [ 2.93359375,  3.359375  ,  3.625     ,  3.20898438],
       [ 1.8515625 ,  1.328125  , -0.40625   ,  4.12158203],
       [10.27734375, 11.546875  ,  6.84375   ,  8.90869141],
       [ 1.37890625,  1.        , -0.9375    ,  4.21875   ],
       [ 7.01171875, 13.296875  , 11.5625    ,  4.15527344],
       [ 2.71484375,  4.765625  ,  0.96875   ,  8.77636719],
       [ 0.06640625,  4.109375  ,  2.15625   ,  8.21337891],
       [10.94140625,  9.015625  , 11.5625    ,  7.859375  ],
       [ 8.953125  ,  7.796875  , 10.28125   , 14.09912109],
       [ 7.41796875, 11.59375   ,  8.46875   ,  8.17822266],
       [ 3.5078125 ,  3.15625   ,  2.5       ,  6.3125    ],
       [10.04296875, 10.125     ,  8.71875   ,  7.07519531],
       [11.2109375 , 13.46875   ,  8.25      , 14.39404297],
       [15.0546875 , 14.90625   , 13.46875   , 16.26855469],
       [ 1.05859375,  6.8125    ,  6.53125   , 13.9140625 ],
       [ 5.56640625,  6.171875  ,  7.9375    , 12.26953125],
       [ 6.03515625,  7.953125  ,  7.25      ,  8.09863281],
       [ 9.78125   ,  8.859375  , 10.03125   ,  8.04882812],
       [ 2.0390625 ,  5.671875  ,  3.65625   ,  4.63818359],
       [21.4296875 , 23.953125  , 22.0625    , 23.48291016],
       [ 9.31640625, 11.609375  ,  5.0625    , 12.18164062],
       [-0.44140625,  2.328125  , -0.40625   ,  2.52099609],
       [ 4.15625   ,  5.265625  ,  4.0625    ,  8.25048828],
       [ 3.5703125 ,  1.703125  ,  3.03125   ,  4.40576172],
       [ 9.2109375 ,  9.453125  , 10.5       ,  9.85839844],
       [ 2.51171875, 16.96875   ,  1.375     , 12.296875  ],
       [-0.56640625, -0.265625  , -0.75      ,  1.97753906],
       [11.1328125 ,  8.28125   , 10.84375   ,  7.45458984],
       [ 3.74609375,  4.34375   ,  2.3125    ,  5.97998047],
       [-3.57421875,  1.296875  , -1.09375   ,  4.77929688],
       [ 9.69921875,  8.546875  , 13.03125   , 15.73193359],
       [-0.671875  , -0.359375  ,  0.25      , -0.21240234],
       [ 7.5859375 ,  9.015625  ,  7.59375   , 10.45556641],
       [11.1015625 , 11.546875  , 11.78125   , 11.07958984],
       [-1.57421875,  3.8125    ,  2.09375   ,  5.78027344],
       [ 1.1796875 ,  1.28125   ,  1.        ,  7.27441406],
       [ 3.328125  ,  8.234375  ,  6.3125    ,  9.01611328],
       [ 4.2734375 ,  4.6875    ,  4.6875    ,  6.21044922],
       [12.375     , 12.234375  , 11.71875   ,  8.25146484],
       [-1.55078125,  3.53125   ,  0.03125   ,  4.62060547],
       [ 2.20703125,  3.09375   ,  2.78125   ,  6.91552734],
       [ 1.5859375 ,  1.640625  ,  0.59375   ,  3.77587891],
       [11.15625   ,  6.765625  , 13.84375   ,  7.22509766],
       [ 2.359375  ,  8.703125  ,  4.96875   ,  8.05761719],
       [ 0.51953125,  3.3125    , -0.625     ,  6.68359375],
       [ 3.01953125, 18.1875    ,  3.3125    , 16.98388672],
       [13.35546875, 10.90625   , 13.25      ,  9.97119141],
       [-3.39453125, -0.515625  , -3.875     ,  0.50439453],
       [12.0078125 , 14.71875   , 11.75      , 15.47412109],
       [11.25      , 11.359375  , 12.53125   , 14.69091797],
       [11.5078125 , 11.65625   , 13.40625   , 14.5625    ],
       [ 6.3671875 ,  3.546875  ,  9.71875   ,  9.42919922],
       [-1.671875  , 12.65625   , -2.        ,  9.8984375 ],
       [ 4.60546875,  4.453125  ,  5.        ,  9.19384766],
       [ 2.5390625 ,  6.890625  ,  2.1875    ,  3.78271484],
       [ 7.19140625,  6.34375   ,  6.3125    ,  8.95849609],
       [12.78515625, 14.765625  , 14.4375    , 15.37060547],
       [ 7.36328125, -1.84375   ,  6.5625    ,  6.07763672],
       [ 0.61328125,  0.046875  ,  0.375     ,  0.890625  ],
       [ 7.12890625,  4.65625   ,  6.65625   ,  4.88085938],
       [10.765625  ,  9.75      , 10.        ,  9.25195312],
       [ 0.7734375 ,  2.484375  ,  2.09375   ,  1.74755859],
       [12.234375  , 10.5       , 14.8125    , 13.91845703],
       [ 1.4921875 ,  2.015625  ,  1.53125   ,  9.02148438],
       [ 0.13671875,  1.140625  ,  1.5       ,  3.49365234],
       [18.98046875, 20.734375  , 16.65625   , 21.44970703],
       [ 5.6484375 ,  2.59375   ,  8.5       ,  5.38671875],
       [ 9.734375  ,  8.234375  ,  9.1875    ,  8.93603516],
       [ 5.3203125 ,  4.796875  ,  5.71875   ,  5.28564453],
       [12.30859375, 11.03125   , 12.34375   , 15.63037109],
       [ 8.09375   , 10.234375  ,  9.53125   , 15.14257812],
       [10.25      , 12.265625  , 10.125     ,  9.68457031],
       [ 9.15234375, 11.671875  ,  9.90625   ,  9.97119141],
       [10.53515625,  8.6875    ,  8.75      ,  9.89355469],
       [-2.21484375,  2.640625  , -1.03125   ,  2.11865234],
       [ 7.5390625 ,  7.65625   ,  7.65625   ,  6.50292969],
       [ 7.88671875,  5.640625  ,  6.25      ,  7.24023438],
       [ 6.24609375,  6.1875    ,  8.25      ,  8.21142578],
       [ 5.34765625,  5.25      ,  5.3125    ,  5.32080078],
       [ 1.21875   ,  4.5       ,  3.40625   ,  4.55419922],
       [ 6.92578125, 11.15625   ,  7.34375   ,  7.87255859],
       [ 8.203125  ,  9.625     ,  8.9375    , 13.90820312],
       [ 4.25      ,  1.828125  ,  2.03125   ,  6.34423828],
       [ 3.55078125,  2.5625    ,  5.375     ,  2.91357422],
       [ 6.28125   ,  5.234375  ,  5.65625   ,  6.81738281],
       [ 1.6328125 ,  4.84375   ,  1.34375   ,  5.34863281],
       [ 7.44140625,  0.265625  ,  7.4375    ,  6.85009766]])

In [54]:
y_test

    MONSOON  POMRB  POMKH PREMON
679    7.21   9.21    3.5   14.2
257       0    6.1    9.6   8.32
526       0  17.68   30.7   27.2
496       0  15.58      0  16.08
427     4.4   9.88    7.1  16.33
349   11.58  16.28  13.17   13.9
434   15.58  14.24  20.91  21.56
189    3.72   5.26   3.19   7.36
355   23.82  22.96  27.55   23.2
537   10.97   7.97  11.79   9.45
421     5.7   2.55   6.74   1.57
104       0      0   12.1      0
403     6.3  28.24   16.1  30.19
512       0  12.75      0  13.65
311   10.49  14.89   9.07  21.07
8         0   0.72      0      0
305    6.42   9.04    3.9      0
375   18.38  18.15  11.08  11.78
622    22.2  18.97  14.86  25.15
436    9.53   13.6   6.13  15.05
654    2.36   7.86   4.24   9.99
47        0      0      0   27.5
692    6.48  11.08  10.88   14.5
19        0      0      0   5.15
591    15.2  14.03     11  18.75
614     9.7   6.34     12  13.02
509       0  13.01      0     13
181     8.3    4.3   8.52  10.08
364    7.92   7.65   7.61   8.72
702    4.86  10.08   9.28  11.55
..      ...    ...    ...    ...
120    9.67      0   9.17   9.95
74     1.12   5.57      0   7.07
345    2.37   1.26    2.2      0
363    8.47   8.25   8.78   7.32
66        0      0    3.2      0
358    9.74   7.33  11.48   9.07
725     1.5   7.06   1.87    9.8
728     1.5   1.36   1.86   5.06
299   25.14  28.07  23.14  31.67
639       0   6.29     13   13.5
412   10.73  10.61  11.36  12.67
161    1.19   1.82   1.43   2.17
590   20.42  15.75  17.05   15.8
717    4.89   16.7   7.46  17.72
449     6.4     13   10.9  12.08
415   11.39  12.41  11.71  13.52
368    9.76    9.2   5.39   8.14
13        0      0      0    7.8
517       0   8.04      0   10.1
408    3.57   8.34   7.37   5.98
612     3.2   5.09   2.69    6.4
92        0      0   9.33      0
697    3.16   3.45   3.53   3.05
676    5.39   9.19   9.03   10.2
448    3.92   6.33   5.64  10.32
635    5.68   1.71   4.72   4.23
596     4.3   4.17   6.07    7.1
535    6.68   2.68   7.95   6.53
683    3.79   9.27   3.21    7.2
132       0      0   3.41      0

[148 rows x 4 columns]